.halls-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 10px;
}

th {
  background: #f4f4f4;
}

.status {
  color: green;
  font-weight: bold;
}

button.create-hall {
  margin-top: 20px;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 22px;
}
.modal-content select, .modal-content input{
  width: 190px;
}
.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 11px;
}

button.confirm {
  background: green;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}

button.cancel {
  background: red;
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  border-radius: 5px;
}
